<ion-popover-view>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Store Card
            </div>
            <div class="item">
                <textarea placeholder="Your Creation" rows="1" cols="20" style="float:left;"></textarea>&nbsp
                <span>$0.00</span>
                <div>
                    <span style="float:left;"> > </span>
                    <p>Chocolate Shape: {{Cadata.shapename}}</p>
                </div>
                <br>
                <div>
                    <span style="float:left;"> > </span>
                    <p style="float:left;">{{Cadata.basename}}</p>
                    <img src="img/white_chocolate2.png" style="margin-top:-40px;
                      margin-left:50px;"/>
                </div>
                <div>
                	<button class="button button-small icon-right ion-chevron-right button-royal">add to card</button>
                </div>
            </div>
            <div class="item item-divider">
            </div>
        </div>
    </ion-content>
</ion-popover-view>
