<ion-view view-title="Home">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-medkit" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col" ng-repeat="store in stores">
                <a href="#/{{store.shape.name}}" ng-click="selectedShape(store.shape)">
                    <img src="img/{{store.shape.imgUrl}}">
                    <p>{{store.shape.name}}</p>
                    <button class="button button-small button-royal">Select</button>
                </a>
            </div>
            <!-- <div class="col">
                <a href="#/view3">
                    <img src="img/milk_chocolate_heart_1_1.jpg">
                    <p>Heart</p>
                    <button class="button button-small button-royal">Select</button>
                </a>
            </div> -->
        </div>
        <div>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </ion-content>
</ion-view>
