<ion-view view-title="View4">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-medkit" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div class="row">
            <div class="col">
                <ion-list>
                    <div ng-repeat="item in items">
                        <ion-item ng-click="toggleItem(item)" ng-class="{active:isItemShow(item)}">
                            <i class="icon" ng-class="isItemShow(item) ? 'ion-minus' : 'ion-plus'"></i> {{item.name}}
                        </ion-item>
                        <div class="item-accordion" ng-repeat="name in item" ng-show="isItemShow(item)">
                            <ul>
                                <li>
                                    <img src="img/hazelnuts_1_4.jpg">
                                    <img src="img/walnuts.jpg">
                                    <img src="img/whole_almonds.jpg">
                                    <img src="img/macadamia_nuts.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                </ion-list>
            </div>
        </div>
        <div>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            </p>
        </div>

        <div>
        <a href="#/view6">
            <button class="button button-block button-royal">Cart</button>
        </a>
        </div>

    </ion-content>
</ion-view>
<!-- <div style="float:right;width:40%;">
            <h2><textarea placeholder="Your creation" rows="1" cols="30"></textarea>
            <span>$0.00</span></h2>
            <div style="text-align: left;"><span style="float:left;"> > </span>
                <p>Chocolate shap</p>
            </div>
            <div><span style="float:left;"> > </span>
                <p style="float:left;">Milk chocolate</p>
                <div><img src="img/milk_chocolates.png" style="margin-top: -30px;"></div>
            </div>
        </div> -->
