<ion-tabs class="tabs-icon-top">
    <ion-tab title="Nuts">
        <ion-nav-view name="nuts"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Fruits">
        <ion-nav-view name="fruits"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Candy">
        <ion-nav-view name="candy"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Easter">
        <ion-nav-view name="easter"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Other">
        <ion-nav-view name="other"></ion-nav-view>
    </ion-tab>
</ion-tabs>
