<ion-view view-title="View1">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-medkit" ng-href="#/view6"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row ">
            <div class="col">
                <a href="#/view4">
                    <img src="img/milk_chocolate.png" />
                    <br>
                    <button class="button button-small button-royal">Select</button>
                </a>
                <p>Belgian dark chocolate</p>
                &nbsp
                <a href="#/view4">
                    <img src="img/milk_chocolate.png" />
                    <br>
                    <button class="button button-small button-royal">Select</button>
                </a>
                <p>Belgian dark chocolate</p>
                &nbsp
                <a href="#/view4">
                    <img src="img/white_chocolate.png" />
                    <br>
                    <button class="button button-small button-royal">Select</button>
                </a>
                <p>Belgian white chocolate</p>
            </div>
        </div>
        <div>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </ion-content>
</ion-view>
